.square-light {
  background-color: transparent;
}

.square-dark {
  background-color: transparent;
}

.board-bg {
  background-image: url("/assets/boards/marble-2.jpg");
  background-size: contain;
}

.selected-highlight {
  background-color: rgba(255, 3, 62, 0.3);
}

.lastmove-highlight {
  background-color: rgba(17, 192, 255, 0.1);
}

.target-hover-highlight {
  background-color: rgba(255, 229, 59, 0.3);
}

.on-light {
  color: #191f20;
}

.on-dark {
  color: #b5a9a7;
}
