@import "mixins";

$square-light: #fffdd0;
$square-dark: #1f3d0c;
$selected-highlight: rgba(255, 3, 62, 0.5);
$target-hover: rgba(255, 229, 59, 0.5);
$lastmove-highlight: rgba(17, 192, 255, 0.5);
.boardContainer {
  min-width: 95vw;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100%;
  max-width: 1200px;
  max-height: 80vh;
  aspect-ratio: 1;
  margin-inline: auto;
  position: relative;
  .dark {
    background-color: $square-dark;
  }
  .light {
    background-color: $square-light;
  }
  .square {
    position: relative;
    .selected {
      background-color: $selected-highlight;
    }
    .lastmove {
      background-color: $lastmove-highlight;
    }
    .contents {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .hover {
      background-color: $target-hover;
    }

    .ring {
      content: "";
      height: 100%;
      width: 100%;
      opacity: 30%;
      border-radius: 50%;
      display: inline-block;
      border: 15px solid #1f1f1f;
    }
    .dot {
      height: 30%;
      width: 30%;
      background-color: #1f1f1f;
      opacity: 30%;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.piece {
  user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
